{% extends 'news/index.html'%}
{% block title%} About Us{% endblock %}
{% block body %}





<div class="container" >
  <div class="jumbotron">


    <div class="panel panel-warning">
		<div class="panel-heading"><center><h2><b>News 94 </b></h2></center></div>

<img src="">
      <div class="panel-body">

<ul>
  <li>Theek hai?</li>
  <li>OK?</li>
  <li>Any changes?</li>
</ul>

</div>
    </div >


	<center style="font-size:10px;  word-spacing: 22px;"<p><b style="color:rgb(49,177,203);">T E A M   N E W S   9 4</b></p></center>

  </div>
</div>





{% endblock %}