{% extends 'news/index.html'%}
{% block title%} News 94 {% endblock %}
{% block css %}
.container {
  padding-top: 80px;
  padding-bottom: 50px;
}
{% endblock%}
{% block body %}


<div class="container" >
  <div class="jumbotron">


    <div class="panel panel-warning">
		<div class="panel-heading"><center><h2><b>News 94 - Rate Card</b></h2></center></div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>COMPONENTS</th>
        <th>RATE</th>
        <th>UNIT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rich Media Ads (Homepage) Innovations *	</td>
        <td>INR 250000	</td>
        <td>Daily</td>
      </tr>
      <tr>
        <td>Standard Banner Ads	</td>
        <td>INR 150	</td>
        <td>CPM</td>
      </tr>
      <tr>
        <td>Section SponsorShip *</td>
        <td>INR 250000</td>
        <td>Daily</td>
      </tr>
    </tbody>
  </table>

      <div class="panel-body">

<ul>
  <li>*Special Days to be excluded</li>
  <li>Terms and conditions apply</li>
  <li>Rates are subject to revisions regularly basis changes in inventory</li>
</ul>

</div>
    </div >


	<center style="font-size:10px;  word-spacing: 22px;"<p><b style="color:rgb(49,177,203);">T E A M   N E W S   9 4</b></p></center>

  </div>
</div>


{% endblock %}
