{% extends 'news/index.html'%}
{% block title%} News 94{% endblock %}
{% block css %}
body{
background-color: #F0F8FF;
}

{% endblock %}

{% block body %}

        <br><br><br><br>
<div class="container" style="width: 1600px; background-color:grey;">
  <div class = "jumbotron" >
    <div class="panel panel-info">
		<div class="panel-heading"><center><h2><b>News 94 - Contact Info.</b></h2></center></div>
        <br>
        <div class="row">
  <div class="col-sm-6" style="padding: 0px 65px">
    <div class="card">
      <div class="card-body">
           <h5 class="card-title"><b>News 94 Network Limited</b></h5>
            <br>
        <h6 class="card-subtitle mb-2 text-muted">Support At :</h6>
    <p class="card-text" style=" font-size:17px">Contact Number : +91 9630179950</p>
    <p  class="card-text" style=" font-size:17px">Telephone Number : 076102811716</p>
    <p  class="card-text" style=" font-size:17px">Fax Number : +91 2853417</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="padding: 0px 65px ;">
    <div class="card">
      <div class="card-body">
       <h5 class="card-title"><b>News 94 Network Limited</b></h5>
      <br>
    <h6 class="card-subtitle mb-2 text-muted">Mail Support At :</h6>
    <p class="card-text" style=" font-size:17px">Mail Address : news94@gmail.com</p>
    <p  class="card-text" style=" font-size:17px">Mail Address : news94@outlook.com</p>
    <p  class="card-text" style=" font-size:17px">Mail Address: news94@yahoo.com</p>
      </div>
    </div><br>
  </div>  </div>
      <div class="card text-center">
  <div class="card-header">
    <h3><b>COMPLAINT REDRESSAL</b></h3>
  </div>
  <div class="card-body">
    <h5 class="card-title" style=" font-size:17px"><b>Complaints relating to Content.</b></h5>
<p class="card-text" style=" font-size:17px">Any complaint relating to content of News 94 of  News 94 Network Pvt. Ltd. under the Code of Ethics and News Broadcasting Standards (Disputes Redressal) Regulations of News Broadcasters Association (NBA) shall be made by a person aggrieved within a reasonable time not exceeding 7 (seven) days from the date of first broadcast to the following person appointed by the Company whose details are reproduced below:</p>
      <p  class="card-text" style=" font-size:23px; "><b>XYZ Singh</b> </p>
            <p  class="card-text" style=" font-size:18px; "><b>Head- Admin & Regulatory</b> </p>
   <p  class="card-text" style=" font-size:16px"><b>Email : complaintxyz@gmail.com</b></p>
      <p class="card-text" style=" font-size:17px">
However, before making a complaint viewers are encouraged to go through the Code of Ethics & Broadcasting Standards, News Broadcasting Standards (Disputes Redressal) Regulations and Guide to the Complaints Process. These details are available on the website of NBA
        </p>
  </div>
  <div class="card-footer text-muted">
     <a href="www.nbanewdelhi.com"> www.nbanewdelhi.com</a>
  </div>
</div>

</div>
</div></div>
<br><br><br>

{% endblock %}
